:root {
    margin: 0;
    padding: 0;
    --font-color: black;
    --font-color-hover: #FF5F00;
    --background-color: white;
    --font-style: 'Source Sans Pro', sans-serif;
  }

.About {
    height: 40vh;
    margin-top: -70vmin;
}
.main-about-div {
    display: flex;
    flex-direction: column;
    transform: translate(16%, 50%);
    width: 60%;
}

@media only screen and (max-width: 1400px) { 
    .About {
        height: 120vh;
        margin-top: -70vmin;
    }
    .main-about-div {
        margin-top: 40vmin;
        display: flex;
        flex-direction: column;
        transform: translate(7%, 50%);
        width: 88%;
    }
}

@media only screen and (max-width: 700px) { 
    .About {
        height: 90vh;
        margin-top: -150vmin;
    }
    .main-about-div {
        margin-top: 20vmin;
        display: flex;
        flex-direction: column;
        transform: translate(7%, 50%);
        width: 88%;
    }
}