:root {
    margin: 0;
    padding: 0;
    --font-color: black;
    --font-color-hover: #FF5F00;
    --background-color: white;
    --font-style: 'Source Sans Pro', sans-serif;
  }

.About {
    height: 100vh;
    margin-top: 1vmin;
}
.main-about-div {
    display: flex;
    flex-direction: column;
    transform: translate(16%, 50%);
    width: 60%;
}

@media only screen and (max-width: 1400px) { 
    .main-about-div {
        margin-top: 60vmin;
        display: flex;
        flex-direction: column;
        transform: translate(7%, 50%);
        width: 88%;
    }
}