:root {
    margin: 0;
    padding: 0;
    --font-color: black;
    --font-color-hover: #ffe54c;
    --background-color: white;
    --font-style: 'Source Sans Pro', sans-serif;
  }

.About {
    height: 100%;
}

.End {
    font-size: 20px;
}

.AboutDark {
    height: 90vh;
}
.main-about-div {
    margin-top: -950px;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    transform: translate(16%, 50%);
    width: 76%;
}

@media only screen and (max-width: 1400px) { 
    .About {
    }
    .main-about-div {
        display: flex;
        flex-direction: column;
        transform: translate(7%, 50%);
        width: 88%;
    }
}

@media only screen and (max-width: 700px) { 
    .About {
    }
    .main-about-div {
        margin-top: -1350px;
        display: flex;
        flex-direction: column;
        transform: translate(7%, 50%);
        width: 88%;
    }
}