:root {
    margin: 0;
    padding: 0;
    --font-color: black;
    --font-color-hover: #FF5F00;
    --background-color: white;
    --font-style: 'Source Sans Pro', sans-serif;
    transition-duration: 0.3s;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.Content {
    height: 40vh;
    
    margin-top: 8vmin;
}
.main-content {
    text-align: center;
    justify-content: center;
    margin-top: 10vh;
    height: 10vh
}
.main-content-title {
    font-size: 3vmin;
}

.image-center {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.main-content-images-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1vmin
}

@media only screen and (max-width: 600px) { 
    .main-content-images {
        width: 80%;
        display: block;
        align-self: center;
        margin-left: 5vmin;
        padding-bottom: 6vmin;
    }
    .main-content-images:hover {
        width: 80%;
        display: block;
        align-self: center;
        margin-left: 5vmin;
        padding-bottom: 6vmin;
        cursor: pointer;
    }
    .image-center {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .main-content-images-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 1vmin;
    }
}