@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');


:root {

    --input-color: #99A3BA;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #000000;

    --input-border-focus: #f1d11a;

    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #f1d11a1c;

    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #f1d11a;

}
.main-form {
    animation-duration: 0.3s;
        animation-name: slideup;
}

#up {
    animation-duration: 0.9s;
    animation-name: resize;
}

@keyframes slideup {
    from {
      margin-left: 17vmin;
    }
  
    to {
      margin-left: 10vmin;
    }
  }

@keyframes resize {
    0% {
        transform: rotate(20deg);
    }
  
    50% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.form-field {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border .3s ease;
    &::placeholder {
        color: var(--input-placeholder);
    }
    &:focus {
        outline: none;
        border-color: var(--input-border-focus);
    }
}

.form-group {
    position: relative;
    display: flex;
    width: 100%;
    & > span,
    .form-field {
        white-space: nowrap;
        display: block;
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:first-child {
            border-radius: 6px 0 0 6px;
        }
        &:last-child {
            border-radius: 0 6px 6px 0;
        }
        &:not(:first-child) {
            margin-left: -1px;
        }
    }
    .form-field {
        position: relative;
        z-index: 1;
        flex: 1 1 auto;
        width: 1%;
        margin-top: 0;
        margin-bottom: 0;
    }
    & > span {
        text-align: center;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 25px;
        color: var(--group-color);
        background: var(--group-background);
        border: 1px solid var(--group-border);
        transition: background .3s ease, border .3s ease, color .3s ease;
    }
    &:focus-within {
        & > span {
            color: var(--group-color-focus);
            background: var(--group-background-focus);
            border-color: var(--group-border-focus);
        }
    }
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

// Center
body {

    .form-group {
        max-width: 360px;
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
}

.main-form {
    margin-top:8vmin;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left:10vmin;
}

.tacbox {
    display:block;
    padding: 1em;
    margin: 2em;
    
    margin-bottom: 2em;
    margin-top: 0em;
    max-width: 100%;
    margin-left: 0vmin;
  }
  
  #checkbox {
    height: 1em;
    width: 2em;
    vertical-align: middle;
    
  }
  #random-sentence {
      font-size:15px;
        width:70%;
}
  

@media only screen and (max-width: 1400px) { 
    .main-form {
        margin-top: 10vmin;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 6vmin;
    }
    @keyframes slideup {
        from {
          margin-top: 14vmin;
        }
      
        to {
          margin-top: 10vmin;
        }
      }
      #random-sentence {
        font-size:15px;
          width:80%;
  }
}

@media only screen and (max-width: 600px) { 
    .main-form {
        margin-top: 10vmin;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 8vmin;
    }
    @keyframes slideup {
        from {
          margin-top: 14vmin;
        }
      
        to {
          margin-top: 10vmin;
        }
      }
      #random-sentence {
        font-size:15px;
          width:100%;
     }
  .tacbox {
    display:block;
    padding: 1em;
    margin: 0vmin;
    margin-bottom: 2em;
    margin-top: 0em;
    max-width: 100%;
    margin-left: 0vmin;
    font-size: 10px;
  }
}

.content-submit {
}

#submit-button {
    margin-left: 4vmin;
}

textarea {
    font-family: inherit;
    font-size: 1.5vmin;
    padding: 1vmin;
    resize: none;
    width: 30vmin;
    height: 10vmin;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: var(--group-color);
    border: 1px solid var(--group-border);
    transition: background .3s ease, border .3s ease, color .3s ease;
}