@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

:root {
  margin: 0;
  padding: 0;
  --font-color: black;
  --font-color-hover: #FF5F00;
  --font-color-shadow: rgb(255, 255, 255);
  --background-color: white;
  --font-style: 'Source Sans Pro', sans-serif;
}

.image-body {
    animation-duration: 2s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-top: -99vmin;
    }
  
    to {
      margin-top: -90vmin;
    }
  }

.Intro {
    height: 100vh;
    margin-top: -12vmin;
    background-image: url(../Assets/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.main-intro {
    height: 100%;
    margin-left: 15vh;
}

.main-intro-description {
    font-size: 7vmin;
    font-family: var(--font-style);
    margin: 0;
    
}

.main-intro-child {
    display: flex;
    flex-direction: column;
    margin-top: 20vmin;
}

.main-intro-p {
    width: 40%;
    font-size: 2vmin;
}

.main-intro-title {
    font-size: 7vmin;
    font-family: var(--font-style);
    padding: -10vmin;
    margin-top: 20vmin;
    margin-bottom: 0;
}

.image-body {
    position: absolute;
    margin-top: -90vmin;
    z-index: 4;
    margin-left: 110vmin;
}

.full-image-two {
   width: 70vmin;
}
.full-image-three {
    box-shadow: 3px 3px 3px 3px;
    box-shadow: var(--font-color-shadow) 0px 5px 15px;
}

.resume-button {
    width: 20vmin;
    height: 7vmin;
    background-color: #FF5F00;
    font-weight: 100;
    font-style: var(--font-style);
    font-size: 2.5vmin;
    color: white;
    border: 1px var(--font-color-hover) bold;
    transition-duration: 0.3s;
}

.resume-button:hover {
    width: 20vmin;
    height: 7vmin;
    box-shadow: var(--font-color-shadow) 0px 5px 40px;
    cursor: pointer;

}

@keyframes top {
    from {
        margin-top: -90vmin;
    }
    to {
        margin-top: -70vmin;
    }
}

@media only screen and (max-width: 1600px) { 
    .image-body {
        display: block;
        position: absolute;
        margin-top: -90vh;
        z-index: 4;
        margin-left: 100vmin;
    }

    .image-body {
        animation-duration: 2s;
        animation-name: slidein;
      }
      
      @keyframes slidein {
        from {
          margin-top: -79vmin;
        }
      
        to {
          margin-top: -90vmin;
        }
    }
    .full-image-two {
        width: 90%;
        height: 50%;
        margin-top: 0vmin;
    }
}

@media only screen and (max-width: 800px) { 
    .Intro {
        height: 100vh;
        margin-top: -12vmin;
        background-image: url(../Assets/background.jpg);
        background-size: 200vh;
        background-repeat: no-repeat;
    }
    
    .image-body {
        display: block;
        position: absolute;
        margin-top: -55vh;
        z-index: 4;
        margin-left: -46vmin;
    }

    .image-body {
        animation-duration: 2s;
        animation-name: slidein;
      }
      
      @keyframes slidein {
        from {
          margin-top: -79vmin;
        }
      
        to {
          margin-top: -100vmin;
        }
      }
    
    .full-image-one {
        box-shadow: 3px 3px 3px 3px;
        width: 50%;
        height: 45%;
        margin-left: -5vmin;
        margin-top: -30vmin;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .full-image-two {
        width: 62%;
        height: 50%;
        margin-top: 0vmin;
        margin-left: 50vmin;
    }
    .image-body-two {
        position: absolute;
        right: 0;
        z-index: -1;
        top: 0;
        margin-top: 100vmin;
        display: none;
    }
    .image-body-three {
        position: absolute;
        right: 0;
        z-index: -1;
        top: 0;
        margin-top: 70vmin;
        margin-right: 30vmin;
        display: none;
    }
    .main-intro-description {
        font-size: 7vmin;
        font-family: var(--font-style);
        margin: 0;
    
    }
    
    .main-intro-child {
        display: flex;
        flex-direction: column;
        margin-top: 20vmin;
    }
    
    .main-intro-p {
        width: 70%;
        font-size: 2.5vmin;
    }
    
    .main-intro-title {
        font-size: 7vmin;
        font-family: var(--font-style);
        padding: -10vmin;
        margin-top: 30vmin;
    margin-bottom: 0;
    
    }
    .main-intro {
        height: 100%;
        margin-left: 5vh;
    }
}