@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

:root {
  margin: 0;
  padding: 0;
  --font-color: black;
  --font-color-hover: #FF5F00;
  --background-color: white;
  --font-style: 'Source Sans Pro', sans-serif;
  transition-duration: 0.3s;
}

.Intro {
    height: 100%;
}

.main-intro {
    height: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 30vh;
}

.main-intro-title {
    font-weight: 1000;
    font-size: 10vmin;
}

.image-body {
    position: absolute;
    margin-top: -70vmin;
    z-index: -1;
    margin-left: 15vmin;
}

.image-body-two {
    position: absolute;
    right: 0;
    z-index: -1;
    top: 0;
    margin-top: 40vmin;
    margin-right: -10vmin;
}

.full-image-one {
    box-shadow: 3px 3px 3px 3px;
    width: 60%;
    height: 60%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.full-image-two {
    box-shadow: 3px 3px 3px 3px;
    width: 60%;
    height: 60%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 600px) { 
    .main-intro {
        height: 100%;
        text-align: center;
        justify-content: center;
        margin-top: 35vh;
    }
    .image-body {
        position: absolute;
        margin-top: -90vmin;
        z-index: -1;
        margin-left: 15vmin;
    }
    
    .full-image-one {
        box-shadow: 3px 3px 3px 3px;
        width: 60%;
        height: 60%;
        margin-left: -5vmin;
        margin-top: -60vmin;

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .full-image-two {
        box-shadow: 3px 3px 3px 3px;
        width: 50%;
        height: 50%;
        margin-top: -20vmin;
        margin-left: 40vmin;

        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .image-body-two {
        position: absolute;
        right: 0;
        z-index: -1;
        top: 0;
        margin-top: 100vmin;
    }
}