@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

:root {
  margin: 0;
  padding: 0;
  --font-color: black;
  --font-color-hover: #ffe54c;
  --background-color: white;
  --font-style: 'Source Sans Pro', sans-serif;
}

.projects {
    width: 35vh;
    height: 40vh;
    margin: 1vmin;
    border-radius: 1rem;
    padding: 2vmin;
    border: 2px dashed var(--font-color-hover);
    transition-duration: 0.3s;
}

.projects:hover {
    box-shadow: rgba(136, 136, 136, 0.3) 0px 1px 30px;

}

.project-image {
    width: 30vh;

}

.underlined-github {
    font-weight: 900;
    text-decoration: underline;
}

#git-link {
    color: #3c2a88;

}

.about-project-main-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    overflow: auto;
    scrollbar-color: black;
}

.underlined {
    font-weight: 900;
    color: var(--font-color-hover);
}

.des-para {
    font-size: 0.9rem;
}
  

  @media only screen and (max-width: 1400px) { 
    .about-project-main-div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2vmin;

    }
 
}
  
  @media screen and (max-width: 700px){
    .project-image {
        width: 20vh;
    
    }
    .projects {
    }
    
    .projects:hover {
        box-shadow: rgba(138, 138, 138, 0.3) 0px 1px 30px;
    }
    .about-project-main-div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2vmin;
    }
  
  }

  

  