@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Source+Sans+Pro:wght@200&display=swap');
:root {
  margin: 0;
  padding: 0;
  --font-color: black;
  --font-color-hover: #f1d11a;
  --background-color: white;
  --font-style: 'Source Sans Pro', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
html {
  scroll-behavior: smooth;
}

h2 a {
  transition-duration: 0.3s;
}

h2 a:hover {
  color: var(--font-color-hover);
}

::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 12px rgb(119, 119, 119);
}

.Header {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
}

.spinner-div {
  margin-top: 30vh;
}

.App {
  font-family: var(--font-style);
}
.AppDark {
  font-family: var(--font-style);
  height: 40vh;
  background-color: #a5a5a5;
  color: white;
  background-color: #535353;
background-image: linear-gradient(315deg, #6d6d6d 0%, #e7e7e7 60%);
}

.App-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: white;
  font-size: calc(10px + 2vmin);
  color: var(--font-color);
  box-shadow: rgba(87, 86, 86, 0.3) 0px 1px 30px;

}
.social-media {
  margin-top: 2vmin;
  margin-left: -1.7vmin;
  display: flex;
}

#github {
  width: 7vmin;
  padding: 2vmin;
  border-radius: 10px;
  transition-duration: 0.3s;
}

#github:hover {
  width: 7vmin;
  padding: 1vmin;
  z-index: 19;
}

#up {
}


.main-header {
  font-size: calc(10px + 2vmin);
  color: var(--font-color);
  width: 100%;
  padding-left: 5vmin
}
.middle-header {
  font-size: 2vmin;
  color: var(--font-color);
}
.middle-header-mobile {
  display: none;
  font-size: 4vmin;
  color: var(--font-color);
}

.middle-header:hover {
  font-size: 2vmin;
  color: var(--font-color-hover);
}

.middle-header-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vmin;
  margin-top: 0.35em;
  right: 0;
}

.middle-header-div-moble {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vmin;
  margin-top: 0.5em;
  margin-right: 6vmin;
  background-color: white;
}

.mobile-hamburger {
  display: none;
  font-size: 4vmin;
  color: var(--font-color);
}

@media only screen and (max-width: 600px) {
  .AppDark {
    font-family: var(--font-style);
    height: 620vh;
    background-color: #a5a5a5;
    color: white;
  }
  .middle-header-mobile {
    display: block;
    margin-top: 10vmin;
    z-index: 0;
    color: black;
    animation-duration: 0.3s;
    animation-name: slidedowntwo;
    padding-left: 2vmin;
    padding-right: 2vmin;

  }
  .middle-header-mobile:hover {
    display: block;
    margin-top: 10vmin;
    z-index: 0;
    color: var(--font-color);

  }
  
  .middle-header {
    display: none;
    font-size: 2vmin;
    color: var(--font-color);
    left: 0;
  }

  .mobile-hamburger:hover {
    display: block;
    font-size: 4vmin;
    color: var(--font-color);
  }

  .mobile-hamburger {
    display: block;
    font-size: 4vmin;
    color: var(--font-color-hover);
    z-index: 2;
    margin-left: 23vmin;
  }

  .middle-header-div {
    display: flex;
    right: 0;
    grid-gap: 0vmin;
    margin-top: 0;
    margin-right: 0vmin;
  }
  .middle-header-div-mobile {
    text-align: right;
    padding: 4vmin;
    right: 0;
    position: absolute;
    margin-top: 14.9vmin;
    margin-right: 3vmin;
    background-color: white;
    animation-duration: 0.3s;
    animation-name: slidedown;
    border-radius: 5px;
    box-shadow: rgba(87, 86, 86, 0.3) 0px 1px 30px;
    height: 67vmin;
    padding-top: 0vmin;
  }
  @keyframes slidedown {
    from {
      height: 20vmin;
    }
  
    to {
      height: 67vmin;
    }
  }
  @keyframes slidedowntwo {
    from {
      margin-top: 0;
    }
  
    to {
      margin-top: 10vmin;
    }
  }
}
