@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

:root {
  margin: 0;
  padding: 0;
  --font-color: black;
  --font-color-hover: #FF5F00;
  --background-color: white;
  --font-style: 'Source Sans Pro', sans-serif;
  transition-duration: 0.3s;
}

.Header {
  z-index: 5;
}

.spinner-div {
  margin-top: 30vh;
}

.App {
  font-family: var(--font-style);
  height: 50vh;
}

.App-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  
  font-size: calc(10px + 2vmin);
  color: var(--font-color);
}

.main-header {
  font-size: calc(10px + 2vmin);
  color: var(--font-color);
  width: 100%;
  padding-left: 5vmin
}
.middle-header {
  transition-duration: 0.3s;
  font-size: 2vmin;
  color: var(--font-color);
}
.middle-header-mobile {
  display: none;
  transition-duration: 0.3s;
  font-size: 4vmin;
  color: var(--font-color);
}

.middle-header:hover {
  font-size: 2vmin;
  color: var(--font-color-hover);
}

.middle-header-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vmin;
  margin-top: 0.5em;
  margin-right: 6vmin;
}

.middle-header-div-moble {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vmin;
  margin-top: 0.5em;
  margin-right: 6vmin;
}

.mobile-hamburger {
  display: none;
  transition-duration: 0.3s;
  font-size: 4vmin;
  color: var(--font-color);
}

@media only screen and (max-width: 600px) {
  .middle-header-mobile {
    display: block;
    margin-top: 10vmin;
    z-index: 0;
    color: var(--font-color-hover);
  }
  .middle-header-mobile:hover {
    display: block;
    margin-top: 10vmin;
    z-index: 0;
    color: var(--font-color);

  }
  
  .middle-header {
    display: none;
    transition-duration: 0.3s;
    font-size: 2vmin;
    color: var(--font-color);
    left: 0;
  }

  .mobile-hamburger:hover {
    display: block;
    transition-duration: 0.3s;
    font-size: 4vmin;
    color: var(--font-color);
  }

  .mobile-hamburger {
    display: block;
    transition-duration: 0.3s;
    font-size: 4vmin;
    color: var(--font-color-hover);
    z-index: 2;
    margin-left: 23vmin;
  }

  .middle-header-div {
    display: flex;
    right: 0;
    grid-gap: 0vmin;
    margin-top: 0;
    margin-right: 0vmin;
  }
  .middle-header-div-mobile {
    text-align: right;
    padding: 0;
    right: 0;
    position: absolute;
    margin-top: 5vmin;
    margin-right: 7vmin;
  }
}
